pipeline/Load_Fact_Tables_from_OnPrem.json
{
	"name": "Load_Fact_Tables_from_OnPrem",
	"properties": {
		"activities": [
			{
				"name": "Lookup-OnPrem Fact Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT \n    s.name AS SchemaName,\n    t.name AS TableName\nFROM \n    sys.tables t\nINNER JOIN \n    sys.schemas s\nON \n    t.schema_id = s.schema_id\nWHERE \n    (t.name = 'PurchaseTransaction' AND EXISTS (\n            SELECT 1 \n            FROM PurchaseTransaction pt \n            WHERE t.object_id = OBJECT_ID('PurchaseTransaction')\n              AND CONVERT(DATE, pt.TransDate) = DATEADD(day, -1, CONVERT(DATE, GETDATE()))\n    )) \n    OR \n    (t.name = 'SalesTransaction' AND EXISTS (\n            SELECT 1 \n            FROM SalesTransaction st \n            WHERE t.object_id = OBJECT_ID('SalesTransaction')\n              AND CONVERT(DATE, st.TransDate) = DATEADD(day, -1, CONVERT(DATE, GETDATE()))\n    ))\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OnPrem_Fact_Table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Fact Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup-OnPrem Fact Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup-OnPrem Fact Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy Fact Tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@{concat('SELECT * FROM ', item().schemaName, '.', item().TableName, ' WHERE CONVERT(DATE, TransDate) = DATEADD(day, -1, CONVERT(DATE, GETDATE()))')}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnPrem_Fact_Table",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Fact_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-20T01:28:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}